form {
    background-color: #fff;
    margin: auto;
    border: 12px solid #e2eef4;
    font-family: 'Roboto', sans-serif;
}

p{
    text-transform: uppercase;
    font-size: 0.75em;
    color: #939393;
}
.first-row{
    width: 100%;
    display: inline-block;
    font-size:0;
}

.first-row-container {
    display: inline-block;
    width: 50%;
    font-size: 16px;
    border: 1px solid #e4e4e4;
    margin: -1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
}
.left-gutter{
    position: relative;
    left: 20px;   
}

