form {
    background-color: #fff;
    margin: auto;
    border: 12px solid #e2eef4;
    font-family: 'Roboto', sans-serif;
}

p{
    text-transform: uppercase;
    font-size: 0.75em;
    color: #939393;
}
.row{
    width: 100%;
    display: inline-block;
    font-size:0;
}

.left-gutter{
    position: relative;
    left: 20px;   
}

.container {
   display: inline-block; 
   font-size: 16px;
   border: 1px solid #e4e4e4;
   margin: -1px;
   position: relative;
}

.first-row {
    width: 50%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.second-row {
    width: 33.33%;   
}

.third-row {
    width: 25%;
}

.fourth-row {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    display: inline-block;
}

.button {
     text-align: center;
     border-radius: 5px;
     width: 25%;
     margin: 0 auto;
     background-color: #91be63;
     font-size: .75em;
     color: #fff;
}


